body{
    font-family: 'Domine', serif;
}
h1{
    font-size:40Px;
}
.orange-color{
    color:orange;
}
.flexible-container{
display:flex;
margin-bottom: 100px;
}
.half-width{
    
    width:50%;
    padding-left:2%;
}
section img{
    width:90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    border-radius: 5px;
    font-weight: 700px;
    color:white
}
.exp-dev{
    box-shadow: 10px 10px 40px gray;
    width:40;
    margin-left: 5%;
    margin-right: 5%;
    padding:20px;
    border-radius:5%;
    
    

}
#border{
    border-left:10px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice:1;

}
#lft-bor{
    border-left:10px solid;
    border-image:linear-gradient(purple, orange);
    border-image-slice:1;
}